on:
  push:

jobs:
  build:
    timeout-minutes: 7200

    strategy:
      matrix:
        include:
          - name: hyperion-macos
            output: darwinConfigurations.hyperion-macos.config.system.build.toplevel
            runs-on: macos-latest
          - name: phi-nixos
            output: nixosConfigurations.phi-nixos.config.system.build.toplevel
            runs-on: ubuntu-latest
          - name: sigma
            output: nixosConfigurations.sigma.config.system.build.toplevel
            runs-on: ubuntu-latest
          - name: gaia
            output: nixosConfigurations.gaia.config.system.build.toplevel
            runs-on: ubuntu-latest

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Free space on GitHub-hosted Runner
        if: runner.environment == 'github-hosted'
        run: |
          # 13.5GiB
          sudo rm -rf /usr/local/lib/android
          # 8.6GiB
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          # 4.7GiB
          sudo rm -rf /usr/local/.ghcup
      - uses: actions/checkout@v6.0.1
      - uses: cachix/install-nix-action@v31.8.4
        with:
          install_url: https://releases.nixos.org/nix/nix-2.32.4/install
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          extra_nix_config: |
            !include /etc/nix/nix.conf.extra
      - name: Run nix build --print-build-logs .#github-actions-nix-config --out-link /etc/nix/nix.conf.extra
        if: runner.environment == 'github-hosted'
        run: |
          nix build --print-build-logs .#github-actions-nix-config --out-link nix.conf.extra
          sudo mv nix.conf.extra /etc/nix
      - name: Restart Nix daemon to load custom Nix configuration
        if: runner.environment == 'github-hosted'
        run: |
          if [[ "$RUNNER_OS" == "macOS" ]]; then
            sudo launchctl kickstart -k system/org.nixos.nix-daemon
          else
            sudo systemctl restart nix-daemon
          fi
      - uses: cachix/cachix-action@v16
        with:
          name: enzime
          useDaemon: ${{ runner.environment == 'github-hosted' }}
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
          skipAddingSubstituter: true
      - run: nix build --print-build-logs .#${{ matrix.output }}
