on:
  push:
    branches:
      - main

jobs:
  check:
    strategy:
      fail-fast: true
      matrix:
        include:
          - system: x86_64-linux
            runs-on: ubuntu-latest
          - system: aarch64-darwin
            runs-on: [macOS, ARM64]

    name: ${{ matrix.system }}
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Free space on GitHub-hosted Runner
        if: runner.environment == 'github-hosted'
        run: |
          # 13.5GiB
          sudo rm -rf /usr/local/lib/android
          # 8.6GiB
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          # 4.7GiB
          sudo rm -rf /usr/local/.ghcup
      - uses: actions/checkout@v4.1.7
      - uses: cachix/install-nix-action@v31
        with:
          install_url: https://releases.nixos.org/nix/nix-2.26.3/install
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v16
        with:
          name: enzime
          useDaemon: ${{ runner.environment == 'github-hosted' }}
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
          skipAddingSubstituter: ${{ runner.environment == 'self-hosted' }}
      - run: nix run --print-build-logs .#check -- --print-build-logs

  build:
    timeout-minutes: 7200

    strategy:
      fail-fast: true
      matrix:
        include:
          - name: chi
            output: darwinConfigurations.chi.system
            runs-on: [macOS, ARM64]
          - name: hermes-macos
            output: darwinConfigurations.hermes-macos.system
            runs-on: [macOS, ARM64]
          - name: hermes-nixos
            output: nixosConfigurations.hermes-nixos.config.system.build.toplevel
            runs-on: ARM64
          - name: phi-nixos
            output: nixosConfigurations.phi-nixos.config.system.build.toplevel
            runs-on: ubuntu-latest
          - name: sigma
            output: nixosConfigurations.sigma.config.system.build.toplevel
            runs-on: ubuntu-latest
          - name: echo
            output: darwinConfigurations.echo.system
            runs-on: [macOS, ARM64]
          - name: eris
            output: nixosConfigurations.eris.config.system.build.toplevel
            runs-on: ubuntu-latest
          - name: aether
            output: nixosConfigurations.aether.config.system.build.toplevel
            runs-on: ARM64

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runs-on }}
    needs: check
    steps:
      - name: Free space on GitHub-hosted Runner
        if: runner.environment == 'github-hosted'
        run: |
          # 13.5GiB
          sudo rm -rf /usr/local/lib/android
          # 8.6GiB
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          # 4.7GiB
          sudo rm -rf /usr/local/.ghcup
      - uses: actions/checkout@v4.1.7
      - uses: cachix/install-nix-action@v31
        with:
          install_url: https://releases.nixos.org/nix/nix-2.26.3/install
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v16
        with:
          name: enzime
          useDaemon: ${{ runner.environment == 'github-hosted' }}
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
          skipAddingSubstituter: ${{ runner.environment == 'self-hosted' }}
      - run: nix build --print-build-logs .#${{ matrix.output }}
