on: [push, delete]

jobs:
  to_gitea:
    if: ${{ !github.event.repository.fork }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@674e65a7d483ca28dafaacba0d07351bdcc8bd75
        with:
          target_repo_url:
            gitea@git.clan.lol:Enzime/hyperconfig.git
          ssh_username: gitea
          ssh_private_key:
            ${{ secrets.GITEA_SSH_PRIVATE_KEY }}
